.class1 {
  color: white;
  background-color: red;
  padding: 8px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
}
.class2 {
  color: white;
  background-color: blue;
  padding: 8px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
}
